<div class="relative overflow-hidden landing-content">
    <div class="hidden sm:absolute sm:inset-0 sm:block" aria-hidden="true">
      <svg class="absolute bottom-0 right-0 mb-48 translate-x-1/2 transform text-gray-700 lg:top-0 lg:mt-28 lg:mb-0 xl:translate-x-0 xl:transform-none" width="364" height="384" viewBox="0 0 364 384" fill="none">
        <defs>
          <pattern id="eab71dd9-9d7a-47bd-8044-256344ee00d0" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="364" height="384" fill="url(#eab71dd9-9d7a-47bd-8044-256344ee00d0)" />
      </svg>
    </div>
    <div class="relative pt-6">
      <div>
        <nav class="relative mx-auto flex max-w-7xl items-center justify-between px-4 sm:px-6" aria-label="Global">
          <div class="flex flex-1 items-center">
            <div class="flex w-full items-center justify-between md:w-auto">
              <a href="#">
                <span class="sr-only">jobquadrat</span>
                <img class="h-12 w-auto sm:h-12" src="../../assets/images/logo.png" alt="">
              </a>
 
            </div>
 
          </div>
          <div class="hidden md:flex">
            <a routerLink="/login" class="inline-flex cursor-pointer items-center rounded-md border border-transparent bg-gray-600 px-4 py-2 text-sm font-medium text-white hover:bg-gray-700">Einloggen</a>
          </div>
        </nav>
      </div>
    <main>
        <div class="relative overflow-hidden bg-gray-50 py-16">
            <div class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full lg:[overflow-anchor:none]">
              <div class="relative mx-auto h-full max-w-prose text-lg" aria-hidden="true">
                <svg class="absolute top-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
                  <defs>
                    <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                      <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                  </defs>
                  <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
                </svg>
                <svg class="absolute top-1/2 right-full -translate-y-1/2 -translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
                  <defs>
                    <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                      <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                  </defs>
                  <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
                </svg>
                 
                <svg class="absolute bottom-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
                  <defs>
                    <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                      <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                  </defs>
                  <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
                </svg>
               
              </div>
            </div>
            <div class="relative px-6 lg:px-8">
              <div class="mx-auto max-w-prose text-lg">
                <h1>
                  <span class="block text-center text-lg font-semibold text-amber-600">FAQ</span>
                  <span class="mt-2 block text-center text-2xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Häufig gestellte Fragen</span>
                </h1>
            </div>
              <div class="prose prose-lg prose-amber mx-auto mt-6 text-gray-500">
 
                <h4 class="font-bold text-xl">Die Vermittlungsprämie kann vom Arbeitgeber festgelegt werden und ist tatsächlich nur bei einer erfolgreichen Besetzung zu bezahlen?</h4>
                <p class="text-lg">Ja genau. Mit dieser Prämie beeinflussen Sie natürlich auch, wie sehr die Personalberater motiviert sind, ihre Stelle zu besetzen.</p>
                
                <h4 class="font-bold text-xl">Als Arbeitgeber werde ich bereits von vielen Personalberatern kontaktiert und der Arbeitsaufwand hierfür ist zu groß. Was ist bei Jobquadrat anders?</h4>
                <p class="text-lg">Personalberater werden bei uns bewertet und können gegebenenfalls ausgeschlossen werden. Alle Personalberater haben die AGBs akzeptiert, somit ist die Zusammenarbeit klar geregelt. Wichtig ist ein klares Anforderungsprofil bei der Stellenausschreibung. </p>
                 
                <h4 class="font-bold text-xl">Wie wird sichergestellt, dass Personalberater qualifizierte Kandidaten vorstellen?</h4>
                <p class="text-lg">Arbeitgeber können zu Beginn klare Anforderungsprofile erstellen und Personalberater werden auf Jobquadrat bewertet. Die Zusammenarbeit basiert auf Vertrauen und einer klaren Kommunikation. Gerne können Sie uns bei unpassenden Angeboten von Personalberatern kontaktieren.</p>
                
                <h4 class="font-bold text-xl">Gibt es eine Funktion zum einfachen Zusagen oder Ablehnen von Anfragen?</h4>
                <p class="text-lg">Nein, aktuell nicht. Wir arbeiten bereits an einer Lösung für eine benutzerfreundliche Funktion zum Zusagen oder Ablehnen von Anfragen. In der Zwischenzeit regeln die AGBs die Zusammenarbeit.</p>
                
                <h4 class="font-bold text-xl">Ich arbeite bereits mit Personalberatern zusammen. Kann Jobquadrat zusätzlich verwendet werden?</h4>
                <p class="text-lg">Ja. Viele unserer Kunden nutzen Jobquadrat zusätzlich zu bestehenden Partnerschaften. Der entscheidende Vorteil bei Jobquadrat ist das große Netzwerk.</p>
                
                <h4 class="font-bold text-xl">Ich habe bestehende Verträge mit Personalberatern. Welche Konditionen ziehen bei einer erfolgreichen Besetzung?</h4>
                <p class="text-lg">Es ziehen die besseren Konditionen, entweder des bestehenden Vertrags oder der veröffentlichten Stelle auf Jobquadrat.</p>
                
                <h4 class="font-bold text-xl">Was ist, wenn es nur wenige potenzielle Kandidaten für spezialisierte Positionen gibt? Die Personalberater werden ja zuerst Ihre Stammkunden bedienen. Ist eine Nutzung von Jobquadrat dann überhaupt sinnvoll?</h4>
                <p class="text-lg">Bei Jobquadrat sind viele kleine Personalberatungen und Einzelpersonen registriert, die auf Nischen konzentriert sind, keine Stammkunden haben und in erster Linie Auftragsbezogen arbeiten. </p>
                
                <h4 class="font-bold text-xl">Warum soll ich Jobquadrat nutzen und nicht nur mit meinen bestehenden Vertragspartnern in der Personalberatung zusammenarbeiten?</h4>
                <p class="text-lg">Bei Jobquadrat profitieren Sie von allen Personalberatungen, was zu schnelleren Besetzungen und qualifizierteren Kandidat führen kann.</p>
               
                <h4 class="font-bold text-xl">Ist es möglich Positionen auf Jobquadrat mit Personalberatern zu besetzen, ohne Jobquadrat darüber in Kenntnis zu setzen?</h4>
                <p class="text-lg">Nein. Wir arbeiten auf einer Vertrauensbasis, zudem würde es sich um einen Vertragsbruch für Arbeitgeber und Personalberater laut den AGBs handeln. Eine Vertragsstrafe wäre die Folge. Jede Besetzung muss vom Arbeitgeber und vom Personalberater auf Jobquadrat gemeldet werden.</p>
               
                <h4 class="font-bold text-xl">Sind Personalberater bemüht Stellen zu besetzen, wenn nur erfolgsbasiert bezahlt wird und die Prämie zu gering ist?</h4>
                <p class="text-lg">Umso höher die Prämie, desto höher die Wahrscheinlichkeit spannende Kandidaten zu erhalten. Unsere Erfahrung zeigt, dass auch geringer dotierte Positionen erfolgreich besetzt werden können. Beispielsweise kommt es immer wieder vor, dass es bei der Suche eines Personalberaters mehrere spannende Kandidaten gibt. Diese können über Jobquadrat angeboten werden.</p>
               
                <h4 class="font-bold text-xl">Wir nutzen generell keine Personalberater, warum sollten wir Jobquadrat nutzen?</h4>
                <p class="text-lg">Es gibt immer wieder Stellen, die sehr schwer zu besetzen sind, auch wenn die firmeninterne HR-Abteilung super aufgestellt ist. Durch unser großes Netzwerk an Personalberatern können diese Positionen erfolgreich besetzt werden. </p>
               
                <h4 class="font-bold text-xl">Wie kann man mit passenden Kandidaten rechnen, wenn andere Arbeitgeber mit ähnlichen Stellen höhere Prämien anbieten?</h4>
                <p class="text-lg">Die tatsächliche Prämie bezieht sich auf das Jahresgehalt, dass kann einen Unterschied machen. Zudem haben Personalberater oft mehrere spannende Kandidaten bzw. kann die geografische Lage für einen Kandidaten besser passen oder ein Unternehmen spannender für einen Kandidaten sein. </p>
               
                <h4 class="font-bold text-xl">Was passiert, wenn ein Personalberater einen Kandidaten bei mehreren Stellen gleichzeitig anbietet?</h4>
                <p class="text-lg">Eine Privatperson bewirbt sich ja häufig auch bei zwei, drei Stellen. Hier heißt es schnell zu sein. Die Entscheidung liegt schlussendlich beim Kandidaten.</p>               
                </div>
            </div>
          </div>
    
  
 
    <!-- Footer -->
    <footer class="bg-gray-800">
      <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
        <div class="flex justify-center mx-auto space-x-6 md:order-2">
          <a routerLink="/terms-and-conditions" class="text-gray-400 hover:text-gray-500">
            <span>AGB</span>
          </a>
    
          <a routerLink="/privacy-policy" class="text-gray-400 hover:text-gray-500">
            <span>Datenschutzerklärung</span>
          </a>

          <a routerLink="/imprint" class="text-gray-400 hover:text-gray-500">
            <span>Impressum</span>
          </a>
        </div>
      </div>
    </footer>
    </main>
    </div>
  </div>