<div class="mx-auto flex flex-col max-w-4xl pb-5">
<form class="space-y-8 divide-y divide-gray-200 mt-5 px-4">
    <div class="space-y-8 divide-y divide-gray-200">

      <div class="pt-8">
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">Neues Inserat erstellen</h3>
          <p class="mt-1 text-sm text-gray-500">Dieses Inserat wird, nachdem alle Informationen zu dem Inserat angegeben wurden, veröffentlicht.</p>
        </div>

        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="jobTitle" class="block text-sm font-medium text-gray-700">Jobtitel ((m/w/d) wird automatisch angehängt)</label>
            <div class="mt-1">
              <input [(ngModel)]="advertisement.jobTitle" type="text" name="jobTitle" id="jobTitle" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm">
            </div>
          </div>
          

          <div class="sm:col-span-3">
            <label for="workingTime" class="block text-sm font-medium text-gray-700">Arbeitszeit (Vollzeit, Teilzeit)</label>
            <div class="mt-1">
              <select [(ngModel)]="advertisement.workingTime" id="workingTime" name="workingTime" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm">
                <option *ngFor="let workingTime of workingTimeOptions" [ngValue]="workingTime">{{ workingTime }}</option>
              </select>
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="location" class="block text-sm font-medium text-gray-700">Arbeitsort (Straße, Postleitzahl, Ort)</label>
            <div class="mt-1">
              <input [(ngModel)]="advertisement.location" type="text" name="location" id="location" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm">
            </div>
          </div>
  
          <div class="sm:col-span-3">
            <label for="salary" class="block text-sm font-medium text-gray-700">Bruttojahresgehalt (in €, Range eingeben z.B. 50.000 – 70.000)</label>
            <div class="mt-1">
              <input [(ngModel)]="advertisement.salary" type="text" name="salary" id="salary" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm">
            </div>
          </div>
  
          <div class="sm:col-span-3">
            <label for="district" class="block text-sm font-medium text-gray-700">Bezirk</label>
            <div class="mt-1">
              <select [(ngModel)]="advertisement.district" id="district" name="district" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm">
                <option *ngFor="let district of dataService.districts" [ngValue]="district">{{ district.name }}</option>
              </select>
            </div>
          </div>
          <div class="sm:col-span-3">
            <label for="bonus" class="block text-sm font-medium text-gray-700">Vermittlungsprämie (in % des Bruttojahresgehalts - Bei erfolgreicher Vermittlung fallen 10% davon zusätzlich als Servicepauschale für Jobquadrat an.)</label>
            <div class="mt-1 flex">
              <input [(ngModel)]="placementBonus" type="number" name="bonus" id="bonus" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm">
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="adLink" class="block text-sm font-medium text-gray-700">Inserat Link <br> (Wenn Sie den Link zu Ihrem Inserat einfügen, müssen die nachstehenden Felder nicht mehr befüllt werden.)</label>
            <div class="mt-1">
              <input [(ngModel)]="advertisement.adLink" type="text" name="adLink" id="adLink" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm">
            </div>
          </div>

 
          <div class="sm:col-span-3">
            <label for="assignment" class="block text-sm font-medium text-gray-700">Aufgabenbeschreibung</label>
            <div class="mt-1 flex">
              <textarea [(ngModel)]="currentAssignmentPoint" [disabled]="isAdLinkFilled" [ngClass]="{'bg-gray-100 text-gray-400 cursor-not-allowed': isAdLinkFilled}"  id="assignment" name="assignment" rows="4" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-white-500 focus:ring-white-500"></textarea>
              <button (click)="addAssignmentPoint()" [disabled]="isAdLinkFilled" [ngClass]="{'bg-gray-400 text-gray-400 cursor-not-allowed hover:bg-gray-400': isAdLinkFilled}" type="submit" class="ml-3 inline-flex h-10 justify-center rounded-md border border-transparent bg-amber-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">Hinzufügen</button>
            </div>
          </div>

          <div class="sm:col-span-3" *ngIf="!isAdLinkFilled">
            <button *ngIf="assignmentPoints == ''" type="button" class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="mx-auto h-12 w-12 text-gray-400" >
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>
              <span class="mt-2 block text-sm font-semibold text-gray-900">Füge eine Aufgabenbeschreibung hinzu</span>
            </button>

            <div *ngFor="let assignmentPoint of assignmentPointsList()" class="relative block mb-1 w-full rounded-lg border-2 border-dashed p-2 border-gray-300 text-left text-sm font-semibold text-gray-900 focus:outline-none">
              <p>{{ assignmentPoint }}</p>
              <button (click)="removeAssignmentPoint(assignmentPoint)" type="button" class="absolute top-0 right-0 mt-2 mr-2">
                <svg class="h-6 w-6 text-gray-400 hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>
            </div>
          </div>

          <div class="sm:col-span-3" *ngIf="isAdLinkFilled">
            <button type="button" class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="mx-auto h-12 w-12 text-gray-400" >
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>
              <span class="mt-2 block text-sm font-semibold text-gray-900">Statt dieser Beschreibung wird später euer tatsächliches Inserat automatisch als Vorschau (iframe) eingebunden.</span>
            </button>
          </div>


          <div class="sm:col-span-3">
            <label for="requirements" class="block text-sm font-medium text-gray-700">Qualifikationen/Erfahrungen</label>
            <div class="mt-1 flex">
              <textarea [(ngModel)]="currentRequirementPoint" [disabled]="isAdLinkFilled" [ngClass]="{'bg-gray-100 text-gray-400 cursor-not-allowed': isAdLinkFilled}"  id="requirements" name="requirements" rows="4" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-white-500 focus:ring-white-500"></textarea>
              <button (click)="addRequirementPoint()" [disabled]="isAdLinkFilled" [ngClass]="{'bg-gray-400 text-gray-400 cursor-not-allowed hover:bg-gray-400': isAdLinkFilled}" type="submit" class="ml-3 inline-flex h-10 justify-center rounded-md border border-transparent bg-amber-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">Hinzufügen</button>
            </div>
          </div>

          <div class="sm:col-span-3" *ngIf="!isAdLinkFilled">
            <button *ngIf="requirementsPoints == ''" type="button" class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="mx-auto h-12 w-12 text-gray-400" >
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>
              <span class="mt-2 block text-sm font-semibold text-gray-900">Füge eine Qualifikation/Erfahrung hinzu</span>
            </button>

            <div *ngFor="let requirementsPoint of requirementsPointsList()" class="relative block mb-1 w-full rounded-lg border-2 border-dashed p-2 border-gray-300 text-left text-sm font-semibold text-gray-900 focus:outline-none">
              <p>{{ requirementsPoint }}</p>
              <button (click)="removeRequirementPoint(requirementsPoint)" type="button" class="absolute top-0 right-0 mt-2 mr-2">
                <svg class="h-6 w-6 text-gray-400 hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>
            </div>
          </div>

          <div class="sm:col-span-3" *ngIf="isAdLinkFilled">
            <button type="button" class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="mx-auto h-12 w-12 text-gray-400" >
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>
              <span class="mt-2 block text-sm font-semibold text-gray-900">Statt dieser Beschreibung wird später euer tatsächliches Inserat automatisch als Vorschau (iframe) eingebunden.</span>
            </button>
          </div>

          <div class="sm:col-span-3">
            <label for="benefits" class="block text-sm font-medium text-gray-700">Benefits</label>
            <div class="mt-1 flex">
              <textarea [(ngModel)]="currentBenefitPoint" [disabled]="isAdLinkFilled" [ngClass]="{'bg-gray-100 text-gray-400 cursor-not-allowed': isAdLinkFilled}" id="benefits" name="benefits" rows="4" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-white-500 focus:ring-white-500"></textarea>
              <button (click)="addBenefitPoint()" [disabled]="isAdLinkFilled" [ngClass]="{'bg-gray-400 text-gray-400 cursor-not-allowed hover:bg-gray-400': isAdLinkFilled}" type="submit" class="ml-3 inline-flex h-10 justify-center rounded-md border border-transparent bg-amber-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">Hinzufügen</button>
            </div>
          </div>

          <div class="sm:col-span-3" *ngIf="!isAdLinkFilled">
            <button *ngIf="benefitsPoints == ''" type="button" class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="mx-auto h-12 w-12 text-gray-400" >
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>
              <span class="mt-2 block text-sm font-semibold text-gray-900">Füge einen Benefit hinzu</span>
            </button>

            <div *ngFor="let benefitsPoint of benefitsPointsList()" class="relative block mb-1 w-full rounded-lg border-2 border-dashed p-2 border-gray-300 text-left text-sm font-semibold text-gray-900 focus:outline-none">
              <p>{{ benefitsPoint }}</p>
              <button (click)="removeBenefitPoint(benefitsPoint)" type="button" class="absolute top-0 right-0 mt-2 mr-2">
                <svg class="h-6 w-6 text-gray-400 hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>
            </div>
          </div>
          

          <div class="sm:col-span-3" *ngIf="isAdLinkFilled">
            <button type="button" class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="mx-auto h-12 w-12 text-gray-400" >
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>
              <span class="mt-2 block text-sm font-semibold text-gray-900">Statt dieser Beschreibung wird später euer tatsächliches Inserat automatisch als Vorschau (iframe) eingebunden.</span>
            </button>
          </div>

          <div class="sm:col-span-3">
            <label for="jobInformation" class="block text-sm font-medium text-gray-700">Zusätzliche Informationen zur Position (z.B. Organisation, Team, Welche Infos sind für den Personalberater wichtig? Was ist dem Arbeitgeber besonders wichtig?, etc.)</label>
            <div class="mt-1 flex">
              <textarea [(ngModel)]="currentJobInformationPoints" [disabled]="isAdLinkFilled"  [ngClass]="{'bg-gray-100 text-gray-400 cursor-not-allowed': isAdLinkFilled}"   id="currentJobInformationPoints" name="currentJobInformationPoints" rows="4" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-white-500 focus:ring-white-500"></textarea>
              <button (click)="addJobInformationPoint()" [disabled]="isAdLinkFilled" [ngClass]="{'bg-gray-400 text-gray-400 cursor-not-allowed hover:bg-gray-400': isAdLinkFilled}" type="submit" class="ml-3 inline-flex h-10 justify-center rounded-md border border-transparent bg-amber-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">Hinzufügen</button>
            </div>
          </div>

          <div class="sm:col-span-3" *ngIf="!isAdLinkFilled">
            <button *ngIf="jobInformationPoints == ''" type="button" class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="mx-auto h-12 w-12 text-gray-400" >
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>
              <span class="mt-2 block text-sm font-semibold text-gray-900">Füge eine Jobinformation hinzu</span>
            </button>

            <div *ngFor="let jobInformation of jobInformationPointList()" class="relative block mb-1 w-full rounded-lg border-2 border-dashed p-2 border-gray-300 text-left text-sm font-semibold text-gray-900 focus:outline-none">
              <p>{{ jobInformation }}</p>
              <button (click)="removeJobInformationPoint(jobInformation)" type="button" class="absolute top-0 right-0 mt-2 mr-2">
                <svg class="h-6 w-6 text-gray-400 hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>
            </div>
          </div>

          <div class="sm:col-span-3" *ngIf="isAdLinkFilled">
            <button type="button" class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="mx-auto h-12 w-12 text-gray-400" >
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>
              <span class="mt-2 block text-sm font-semibold text-gray-900">Statt dieser Beschreibung wird später euer tatsächliches Inserat automatisch als Vorschau (iframe) eingebunden.</span>
            </button>
          </div>
 
        </div>
      </div>
    </div>
  
    <div class="pt-5">
        <p *ngIf="errorMessage != ''" class="mt-2 text-sm font-bold text-red-600">
            {{ errorMessage }}
        </p>

      <div class="flex justify-end">
        <button (click)="cancel()" type="button" class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">Abbrechen</button>
        <button (click)="save()" type="submit" class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-amber-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">Veröffentlichen</button>
      </div>
    </div>
  </form>
  
</div>