 
<!-- Header -->
<div class="relative bg-gray-50">
    <div class="mx-auto max-w-7xl px-4 sm:px-6">
      <div class="flex relative items-center justify-between md:justify-start md:space-x-10 border-b-2 border-gray-100 py-6">
        <div style="margin-top: 100px !important;" [ngClass]="{'hidden': !openMenu}" class="absolute top-0 right-0 max-w-lg z-10 transform transition">
          <div class="overflow-hidden rounded-lg bg-white shadow-md ring-1 ring-black ring-opacity-5">
            <div class="flex items-center justify-between px-5 pt-4">
              <div>
                <img class="h-12 w-auto" src="../../assets/images/logo.png" alt="">
              </div>
              <div class="-mr-2">
                <button (click)="toggleMenu()" type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-amber-500">
                  <span class="sr-only">Close menu</span>
                  <!-- Heroicon name: outline/x-mark -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="space-y-1 px-2 pt-2 pb-3">
              <a (click)="view()" class="block cursor-pointer rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900">Inserate anzeigen</a>
              <a *ngIf="this.dataService.currentUserRole == 'Company'" (click)="create()" class="block cursor-pointer rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900">Inserate erstellen/bearbeiten</a>
              <a *ngIf="this.dataService.currentUserRole == 'Company'" (click)="profile()" class="block cursor-pointer rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900">Unternehmensprofil bearbeiten</a>
              <a *ngIf="this.dataService.currentUserRole == 'HR-Consultant'" (click)="profile()" class="block cursor-pointer rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900">Personalvermittlerprofil bearbeiten</a>    
              <a (click)="chat()" class="block cursor-pointer rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900">Konversationen anzeigen</a>
             
            </div>
            <a routerLink="/" class="block w-full cursor-pointer bg-gray-50 px-5 py-3 text-center font-medium text-amber-600 hover:bg-gray-100">Startseite</a>
          </div>
        </div>
        <div class="flex md:flex-1 justify-start lg:w-0 lg:flex-1">
          <a routerLink="/">
            <span class="sr-only">jobquadrat</span>
            <img class="h-16" src="../../assets/images/logo.png" alt="">
          </a>
        </div>
        <div class="items-center justify-end md:flex md:flex-1 lg:w-0">

            <a class="group block flex-shrink-0">
                <div class="flex items-center">
                  <div>
                    <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full ">
                      <span class="font-medium text-gray-600  ">{{ dataService.getInitials(dataService.currentUser) }}</span>
                  </div>
                </div>
                  <div class="ml-3">
                    <p class="text-sm font-medium text-gray-700 group-hover:text-gray-900">{{ dataService.currentUser }}</p>
                    <p (click)="logout()" class="text-xs cursor-pointer font-medium text-gray-500 group-hover:text-gray-700">Ausloggen</p>
                  </div>
                </div>
              </a>
              <nav class="my-2 mx-5">
                <div class="flex w-full items-center justify-between md:w-auto">
                  <div class="-mr-2 flex items-center">
                    <button (click)="toggleMenu()" type="button" class="inline-flex z-10 justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">
                      <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                      </svg>
                      Menü
                    </button>
                  </div>
                </div>
              </nav>
        </div>
      </div>
    </div>
</div>
<router-outlet></router-outlet>