<div class="relative overflow-hidden landing-content">
    <div class="hidden sm:absolute sm:inset-0 sm:block" aria-hidden="true">
      <svg class="absolute bottom-0 right-0 mb-48 translate-x-1/2 transform text-gray-700 lg:top-0 lg:mt-28 lg:mb-0 xl:translate-x-0 xl:transform-none" width="364" height="384" viewBox="0 0 364 384" fill="none">
        <defs>
          <pattern id="eab71dd9-9d7a-47bd-8044-256344ee00d0" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="364" height="384" fill="url(#eab71dd9-9d7a-47bd-8044-256344ee00d0)" />
      </svg>
    </div>
    <div class="relative pt-6">
      <div>
        <nav class="relative mx-auto flex max-w-7xl items-center justify-between px-4 sm:px-6" aria-label="Global">
          <div class="flex flex-1 items-center">
            <div class="flex w-full items-center justify-between md:w-auto">
              <a href="#">
                <span class="sr-only">jobquadrat</span>
                <img class="h-12 w-auto sm:h-12" src="../../assets/images/logo.png" alt="">
              </a>
 
            </div>
 
          </div>
          <div class="hidden md:flex">
            <a routerLink="/login" class="inline-flex cursor-pointer items-center rounded-md border border-transparent bg-gray-600 px-4 py-2 text-sm font-medium text-white hover:bg-gray-700">Einloggen</a>
          </div>
        </nav>
      </div>
    <main>
        <div class="relative overflow-hidden bg-gray-50 py-16">
            <div class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full lg:[overflow-anchor:none]">
              <div class="relative mx-auto h-full max-w-prose text-lg" aria-hidden="true">
                <svg class="absolute top-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
                  <defs>
                    <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                      <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                  </defs>
                  <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
                </svg>
                <svg class="absolute top-1/2 right-full -translate-y-1/2 -translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
                  <defs>
                    <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                      <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                  </defs>
                  <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
                </svg>
                 
                <svg class="absolute bottom-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
                  <defs>
                    <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                      <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                  </defs>
                  <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
                </svg>
               
              </div>
            </div>
            <div class="relative px-6 lg:px-8">
              <div class="mx-auto max-w-prose text-lg">
                <h1>
                  <span class="block text-center text-lg font-semibold text-amber-600">Allgemeine Geschäftsbedingungen</span>
                  <span class="mt-2 block text-center text-2xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Präambel</span>
                </h1>
            </div>
              <div class="prose prose-lg prose-amber mx-auto mt-6 text-gray-500">
                <p>JOBQUADRAT bietet eine Onlineplattform für Unternehmen, die Personal suchen, und Personalvermittlern an. Offene Stellen können von Firmen auf der Plattform geteilt werden und Personaldienstleister haben die Möglichkeit spannende Kandidaten unkompliziert zu teilen.  
                </p>
 
                <h2>1.	Allgemeine Bestimmungen</h2>
                 <ol type="a" role="list">
                    <li>Diese allgemeinen Geschäftsbedingungen (AGB) gelten für die Geschäftsbeziehung zwischen Martin Steinhuber, nachfolgend "JOBQUADRAT", und jedem Nutzer. Alle von JOBQUADRAT bereitgestellten Dienstleistungen stehen ausschließlich registrierten und autorisierten Nutzern zur Verfügung. Ab dem Zeitpunkt der Nutzung der JOBQUADRAT-Plattform, somit der Zeitpunkt der Registrierung auf der Plattform, ist diese Vereinbarung gültig. Nutzer bezieht sich auf alle Personen, die einen Nutzeraccount mit ihren persönlichen Daten verwalten.</li>
                    <li>Nutzer können konkret in zwei Gruppen eingeteilt werden – Unternehmen, mit der Absicht Personal über JOBQUADRAT zu finden, (nachfolgend „Arbeitgeber“) und Personalvermittler, mit der Absicht Kandidaten zu vermitteln (nachfolgend „Personaldienstleister“). Kandidaten sind definiert als Personen, die von Personalvermittlern an Arbeitgeber, für offene Positionen, vorgeschlagen werden.</li>
                    <li>Diese AGB gelten ausschließlich – entgegenstehende oder von dieser Vereinbarung abweichende AGB werden nicht anerkannt, es sei denn, JOBQUADRAT stimmt ausdrücklich, in schriftlicher Form, zu.</li>
                </ol>


                <h2>2.	Prozess</h2>
                <ol type="a" role="list">
                   <li>Registrierte Arbeitgeber können über JOBQUADRAT offene Personalbedarfe veröffentlichen. In einer Stellenausschreibung sind die Anforderungen an die gesuchte Person zu hinterlegen (u.a. Tätigkeitsbereich, Qualifikation), um geeignete Kandidaten vorschlagen zu können. </li>
                   <li>Im Falle einer erfolgreichen Besetzung, mit einem vorgeschlagenen Kandidaten, ist eine Vermittlungsprämie an den Personaldienstleister sowie eine Servicepauschale an JOBQUADRAT zu bezahlen. Bei der Erstellung der Stellenausschreibung muss der Arbeitgeber auswählen, welchen Prozentsatz des Bruttojahresgehalts, des vermittelten Kandidaten, die Vermittlungsprämie ausmachen wird. </li>
                   <li>Die Arbeitgeber entscheiden in welcher Form und mit welchen Unterlagen sie Kandidaten zugesandt haben wollen. </li>
                   <li>JOBQUADRAT hält sich die Möglichkeit offen, Stelleninserate offline zu nehmen, sollten diese gegen Gesetze verstoßen oder nicht den Grundvorstellungen von JOBQUADRAT entsprechen. </li>
                   <li>Nach der Veröffentlichung einer Stellenausschreibung haben alle auf JOBQUADRAT registrierten Personaldienstleister die Möglichkeit, passenden Kandidaten mit den Arbeitgebern zu teilen. </li>
                   <li>Die Personaldienstleister sind verpflichtet, Kandidaten stets unter Beachtung der datenschutzrechtlichen Vorschriften zu verarbeiten und deren Unterlagen zum Zwecke des Bewerbungsverfahrens an den jeweiligen Arbeitgeber übermitteln zu dürfen. Eine entsprechende Einverständniserklärung muss vom Kandidaten eingeholt werden. Die Personaldienstleister verpflichten sich zudem, alle Kandidaten über die Position und die Vorschlagsabsicht zu informieren. Arbeitgeber garantieren andererseits, übermittelte Kandidaten entsprechend der DSGVO zu verarbeiten. </li>                     
                   <li>Wenn ein Personaldienstleister einen Kandidatenvorschlag an einen Arbeitgeber sendet, muss darin vermerkt werden, dass sich der Personaldienstleister auf die Stellenausschreibung der JOBQUADRAT-Plattform bezieht.</li>
                   <li>Der Austausch von Kandidaten sowie die Kommunikation zu Kandidaten erfolgt ausschließlich zwischen Personaldienstleister und Arbeitgeber. JOBQUADRAT hat keinen Zugriff auf Bewerberdaten.</li>
                   <li>Sollte ein Kandidat von mehreren Personaldienstleistern auf eine Stellenausschreibung vorgeschlagen werden, bekommt nur der Personaldienstleister die Erfolgsprämie, der den Kandidaten als erstes vorgeschlagen hat. </li>   
                  <li>Sollte ein vom Personaldienstleister vorgeschlagener Kandidat von einem Arbeitgeber für die vorgestellte Position sowie für keine weitere offene Position als geeignet erachtet werden und es zu einer finalen Absage kommen, erlischt der Erstanspruch des vorschlagenden Personaldienstleisters auf diesen Kandidaten. Sollte der Arbeitgeber den Kandidaten jedoch innerhalb von sieben Monaten nach der finalen Absage von sich aus erneut kontaktieren und eine Anstellung erfolgt, so besteht der Anspruch des ursprünglichen Personaldienstleisters auf die vereinbarte Vermittlungsprämie weiterhin. Erfolgt keine erneute Kontaktaufnahme durch den Arbeitgeber innerhalb dieses Zeitraums, erlischt der Anspruch endgültig.</li>
                </ol>

                <h2>3.	Zahlungsbedingungen & Verrechnung</h2>
                <ol type="a" role="list">
                   <li>Die Registrierung auf JOBQUADRAT ist für Arbeitgeber und Personaldienstleister gebührenfrei.</li>
                   <li>Nach einer etwaigen Beendigung der Nutzung von JOBQUADRAT bleiben die Bestimmungen der ABG auf unbestimmte Zeit bestehen (u.a. Datenschutz, vermittelte Kandidaten, Zahlungsausstände).</li>
                   <li>Wird ein Arbeitsvertrag zwischen einem vermittelten Kandidaten und einem Arbeitgeber abgeschlossen, wird die Vermittlungsprämie fällig. Ein Arbeitsvertrag gilt als abgeschlossen, wenn dieser vom Kandidaten sowie vom Arbeitgeber unterzeichnet wurde.  </li>
                   <li>Bei Vertragsabschluss ist JOBQUADRAT unverzüglich zu informieren. Der Personaldienstleister stellt eine Rechnung an den Arbeitgeber in der Höhe der vereinbarten Erfolgsprämie. JOBQUADRAT stellt parallel eine Rechnung an den Arbeitgeber in Höhe von 10% der definierten Erfolgsprämie.</li>
                   <li>Zur Berechnung der Vermittlungsprämie wird das Bruttojahresgehalt des vermittelten Kandidaten sowie der zum Zeitpunkt der Übermittlung definierte Prozentsatz in der Stellenanzeige herangezogen. Das Bruttojahresgehalt setzt sich aus den monatlichen Zahlungen, inkl. Urlaubs- und Weihnachtsgeld zusammen. Variable Gehaltsbestandteile, Boni und Zulagen werden nicht in das Bruttojahresgehalt miteingerechnet. Bei Teilzeitanstellungen wird das Gehalt auf ein Vollzeitäquivalent hochgerechnet, sodass dieses Vollzeitgehalt-Äquivalent als Grundlage für die Berechnung der Prämien dient.</li>
                   <li>Folgendes Beispiel soll die Berechnung veranschaulichen. Ein Arbeitgeber bietet für eine erfolgreiche Vermittlung 20% Erfolgsprämie. Ein Kandidat wird mit einem Bruttojahresgehalt von 60.000 Euro eingestellt. Der Personaldienstleister stellt eine Rechnung in der Höhe von 12.000 Euro an den Arbeitgeber – JOBQUADRAT stellt parallel dazu eine Rechnung in der Höhe von 1.200 Euro an den Arbeitgeber.</li>                     
                   <li>JOBQUADRAT kann unter Rücksicht der bestehenden Gesetze weitere Gebühren in Rechnung stellen, um eventuelle Schäden zu kompensieren, die entstanden sind, um die Eintreibung von offenen Rechnungsposten zu gewerkstelligen. </li>
                   <li>Rechnungen von JOBQUADRAT sind innerhalb von 14 Arbeitstagen, ohne Abzug von Skonto, zu bezahlen. </li>
                   <li>Arbeitgeber können die Informationen und Angaben im Stelleninserat jederzeit anpassen, dies gilt ebenso für den Prozentsatz der Erfolgsprämie. Im Vermittlungsfall ist der Prozentsatz gültig, der zum Zeitpunkt der Übermittlung des Kandidatenprofils vom Personaldienstleister an den Arbeitgeber veröffentlicht war.</li>
                   <li>Sollte ein Arbeitgeber die Vermittlungsprämie nicht überweisen, erfolgt die gerichtliche Geltendmachung über den Personaldienstleister.</li>  
                </ol>

                <h2>4.	Garantie</h2>
                <ol type="a" role="list">
                   <li>Sollte ein vermittelter Kandidat in einem Zeitraum von 60 Kalendertagen nach Beginn des Arbeitsverhältnisses das Arbeitsverhältnis beenden, erhält der Arbeitgeber 50% der bereits bezahlten, erfolgsabhängigen Vermittlungsgebühr und 50% der JOBQUADRAT-Aufwandspauschale zurückerstattet. </li>
                   <li>Sollte der Arbeitgeber den vermittelten Kandidaten kündigen, entfällt die Garantieleistung.</li>
                   <li>Der Personaldienstleister, den der Kündigungsfall betrifft, hat die Möglichkeit Einsicht in das Kündigungsschreiben zu erhalten. </li>
                   <li>JOBQUADRAT und der jeweilige Personaldienstleister sind ehestmöglich, jedoch spätestens nach 7 Kalendertagen nach Kündigung des vermittelten Kandidaten, schriftlich zu informieren. Nach Bekanntwerden des Kündigungsfalles erhält der Arbeitgeber in einem Zeitraum von 14 Arbeitstagen den offenen Betrag vom Personaldienstleister und JOBQUADRAT überwiesen. Bei Zahlungsverzug werden Verzugszinsen in gesetzlicher Höhe fällig.</li>
                   <li>Akzeptiert ein Personaldienstleister einen Garantiefall nicht oder weigert sich die Erfolgsprämie rückzuüberweisen, erfolgt die gerichtliche Geltendmachung durch den Arbeitgeber. </li>
                </ol>

                <h2>5.	Nutzerprivilegien und –verantwortlichkeiten</h2>
                <ol type="a" role="list">
                   <li>Arbeitgeber und Personaldienstleister bestätigen, dass ihre Vertreter JOBQUADRAT nutzen dürfen und akzeptieren zudem die Nutzungsbedingungen aller zukünftigen Vertreter. JOBQUADRAT wird freigestellt von der Haftung für Schäden, die durch Missachtung dieser Regeln entstehen. </li>
                   <li>Die Nutzer versichern, dass die auf JOBQUADRAT gespeicherten Daten nicht gegen das Gesetz und das am Sitz des Nutzers geltende nationale Recht verstoßen. Die Daten müssen mit Urheber-, Daten- oder Persönlichkeitsschutzrechten vereinbar sein. Die JOBQUADRAT-Nutzer tragen die Verantwortung für die von ihnen angegebenen Daten und bestätigen mit der Registrierung, dass sie über alle erforderlichen Rechte dafür verfügen.</li>
                   <li>Für die Richtigkeit und Vollständigkeit der eingegebenen Daten ist der Nutzer selbst verantwortlich. </li>
                   <li>Es besteht die Möglichkeit Nutzer-Accounts zu deaktivieren, die Pflichten aus diesen AGB bestehen nach Deaktivierung jedoch weiterhin. Die Nutzer akzeptieren, dass vertragsrelevante Daten, im Sinne der Dokumentation, im Rahmen gesetzlicher Bestimmungen nach der Deaktivierung gespeichert bleiben. </li>
                   <li>Arbeitgeber versichern, dass sie alle Rechte besitzen ein Stelleninserat zu schalten und Kandidaten anstellen zu können. </li>
                </ol>

                <h2>6.	Umgehungsverbot</h2>
                <ol type="a" role="list">
                   <li>Arbeitgeber und Personaldienstleister, die versuchen, JOBQUADRAT in einem Zeitraum von 12 Monaten während oder nach der Teilnahme an der Suche für offene Positionen zu umgehen, erfüllen den Tatbestand der Umgehung und verstoßen gegen diese AGB. Den Tatbestand erfüllen, u.a. folgende Szenarien.
                     <ol type="i" role="list">
                        <li>Ein Personaldienstleister kontaktiert einen Arbeitgeber, um Kandidaten vorzuschlagen, ohne zu erwähnen, über JOBQUADRAT auf den Personalbedarf aufmerksam geworden zu sein.</li>
                        <li>Ein Auftraggeber und ein Personaldienstleister wickeln eine Personalvermittlung ab, die ein offenes Stelleninserat von JOBQUADRAT betrifft, ohne JOBQUADRAT über die erfolgreiche Vermittlung zu informieren. </li>
                     </ol>
                   </li>
                   <li>Kommt es nach Beendigung der Zusammenarbeit bzw. Posting einer offenen Stelle auf JOBQUADRAT zu einem Arbeitsvertrag zwischen einem vom Personaldienstleister vorgeschlagenen Bewerber und dem Arbeitgeber, bleibt der Anspruch des Personaldienstleisters auf die Erfolgsprämie bestehen, wenn der Kandidat dem Arbeitgeber während der Zusammenarbeitsdauer, Dauer der offenen Stellenausschreibung, vorgestellt wurde.</li>
                   <li>Arbeitgeber und Personaldienstleister müssen eventuelle Umgehungsversuche von anderen Parteien unverzüglich melden. </li>
                   <li>Kommt es zu einem Umgehungsfall, wird eine Vertragsstrafe von 35.000 Euro pro Umgehungsfall schlagend. Weitere Schadenersatzansprüche behält sich JOBQUADRAT vor. 
                  </li>
                </ol>

                
                <h2>7.	Sonstiges </h2>
                <ol type="a" role="list">
                   <li>JOBQUADRAT behält sich vor, dauerhaft ungenutzte Konten, das heißt 12 Monate ungenutzt, zu sperren und zu löschen. Stelleninserate, die älter als 6 Monate sind, können von JOBQUADRAT ebenfalls gelöscht werden. 
                   </li>
                   <li>Alle Vertragspartner sind dem Verschwiegenheitsgebot verpflichtet und verpflichten sich zum streng vertraulichen Umgang mit allen Informationen und Daten, die über die Plattform ausgetauscht werden – dies hat auch nach Beendigung der Zusammenarbeit bestand. </li>
                   <li>JOBQUADRAT hat die Möglichkeit, die Allgemeinen Geschäftsbedingungen jederzeit zu ändern, eine Ausnahme stellt dar, wenn die Änderung dem Unternehmen nicht zumutbar ist. Die Änderungen werden rechtzeitig kommuniziert und das Unternehmen hat sechs Wochen Zeit die geänderten Bedingungen zu widersprechen, bevor die Bedingungen als akzeptiert gelten. Im Falle eines Widerspruchs können beide Seiten die Zusammenarbeit aufkündigen. </li>
                   <li>JOBQUADRAT ist nicht für Schäden verantwortlich, die Nutzer anderen Nutzern oder Dritten durch Verletzung derer Rechte zufügen. </li>
                   <li>Unternehmen und Personen können bei Zuwiderhandeln der AGB, Rechtsbrüchen oder Verstoß gegen die guten Sitten dauerhaft von der Nutzung von JOBQUADRAT ausgeschlossen werden. </li>
                   <li>Es entsteht keine Haftung der Vertragspartner für die Nichterfüllung von Verpflichtungen aus den AGB, wenn Ereignisse eintreffen, die außerhalb ihrer Kontrolle liegen, speziell bei höherer Gewalt.</li>
                   <li>Falls ein oder mehrere Bestimmungen der AGB rechtsunwirksam sind oder werden, bleiben die restlichen Bestimmungen davon unberührt. Davon ausgenommen ist der Fall, in dem der Wegfall einer Bestimmung eine Vertragspartei dermaßen beeinträchtigt, dass eine Vertragsfortführung nicht zumutbar ist.  </li>
                </ol>
                
                </div>
            </div>
          </div>
    
  
 
    <!-- Footer -->
    <footer class="bg-gray-800">
      <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
        <div class="flex justify-center mx-auto space-x-6 md:order-2">
          <a routerLink="/terms-and-conditions" class="text-gray-400 hover:text-gray-500">
            <span>AGB</span>
          </a>
    
          <a routerLink="/privacy-policy" class="text-gray-400 hover:text-gray-500">
            <span>Datenschutzerklärung</span>
          </a>

          <a routerLink="/imprint" class="text-gray-400 hover:text-gray-500">
            <span>Impressum</span>
          </a>
        </div>
      </div>
    </footer>
    </main>
    </div>
  </div>