<article class="mb-10">
    <!-- Profile header -->
    <div>
      <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8 z-10">
        <div class="sm:flex sm:items-end sm:space-x-5">
          <div class="mt-4 sm:flex sm:min-w-0 sm:flex-1 sm:items-center sm:justify-end z-10 sm:space-x-6 sm:pb-1">
 
            <div class="justify-stretch mt-6 flex flex-col space-y-3 sm:flex-row z-10 sm:space-y-0 sm:space-x-4">
              <div class="relative overflow-hidden rounded-lg bg-white px-4 pt-5 pb-5 shadow sm:px-6 sm:pt-6">
                <dt>
                  <div class="absolute rounded-md bg-amber-500 p-3">
                    <svg  class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                    </svg>
                  </div>
                  <p class="ml-16 truncate text-sm font-medium text-gray-500">Vermittlungsprämie</p>
                </dt>
                <dd class="ml-16 flex items-baseline ">
                  <p class="text-2xl font-semibold text-gray-900">{{ dataService.advertisementProfile.placementBonus || 0 }}%</p>
                </dd>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 min-w-0 flex-1">
            <h1 class="text-4xl mb-2 font-bold text-amber-600">{{ dataService.advertisementProfile.jobTitle }} (m/w/d)</h1>
            <p class="text-md font-bold mb-2 text-gray-500">bei {{ dataService.advertisementProfile.users_permissions_user?.username }}</p> 
            <p class="text-sm font-medium text-gray-500">{{ dataService.advertisementProfile.users_permissions_user?.description }}</p>
          </div>
      </div>
    </div>

    <!-- Description list -->
    <div class="mx-auto mt-6 max-w-5xl px-4 sm:px-6 lg:px-8">
      <div class="justify-stretch mt-6 mb-4 flex flex-col space-y-3 sm:flex-row z-10 sm:space-y-0 sm:space-x-4">
         <button *ngIf="this.dataService.currentUserRole == 'HR-Consultant'" (click)="toggleCompanyContact()" type="button" class="inline-flex z-10 justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">
            <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.162V6a2 2 0 00-2-2H3z" />
              <path d="M19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002 2h14a2 2 0 002-2V8.839z" />
            </svg>
            <span>Unternehmen kontaktieren</span>
          </button>

       
        <button *ngIf="this.dataService.currentUserRole == 'HR-Consultant'" (click)="toggleShowSuccessPlacement()" type="button" class="inline-flex z-10 justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-1 mr-2 h-5 w-5 text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
          </svg>
          <span>Stellenbesetzung melden</span>
        </button>
      </div>
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-bold text-gray-600">Email</dt>
          <dd class="mt-1 text-sm font-medium text-gray-500">{{ dataService.advertisementProfile.users_permissions_user?.email }}</dd> <!--number:'1.0-0':'de-AT'-->
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-bold text-gray-600">Bruttojahresgehalt</dt>
          <dd class="mt-1 text-sm font-medium text-gray-500">{{ dataService.advertisementProfile.salary }}€</dd> <!--number:'1.0-0':'de-AT'-->
        </div>
       
        <div class="sm:col-span-1">
          <dt class="text-sm font-bold text-gray-600">Arbeitszeit (Vollzeit, Teilzeit)</dt>
          <dd class="mt-1 text-sm font-medium text-gray-500">{{ dataService.advertisementProfile.workingTime }}</dd>
        </div>

        <div class="sm:col-span-1">
          <dt class="text-sm font-bold text-gray-600">Arbeitsort</dt>
          <dd class="mt-1 text-sm font-medium text-gray-500">{{ dataService.advertisementProfile.location }}</dd>
        </div>

        <!-- Externe Inseratsvorschau -->
        <div *ngIf="dataService.advertisementProfile.adLink"
            class="sm:col-span-2 mb-6">
          <dt class="text-sm font-bold text-gray-600 mb-2">Originalinserat</dt>
          <dd class="w-full h-[600px] rounded-lg overflow-hidden border border-gray-300 shadow">
            <iframe
              [src]="dataService.advertisementProfile.adLink | safeUrl"
              class="w-full h-full border-0"
              loading="lazy"
              referrerpolicy="no-referrer">
            </iframe>
          </dd>
        </div>

        <div class="sm:col-span-2" *ngIf="!dataService.advertisementProfile.adLink">
          <dt class="text-sm font-bold text-gray-600">Aufgabengebiet</dt>
          <dd class="mt-1 ml-5 max-w-prose space-y-5 text-sm font-medium text-gray-500">
            <span [innerHtml]="showValueinHTMLList(dataService.advertisementProfile.assignment || '')"></span>
           </dd>
        </div>

        <div class="sm:col-span-2" *ngIf="!dataService.advertisementProfile.adLink">
            <dt class="text-sm font-bold text-gray-600">Anforderungen</dt>
            <dd class="mt-1 ml-5 max-w-prose space-y-5 text-sm font-medium text-gray-500">
              <span [innerHtml]="showValueinHTMLList(dataService.advertisementProfile.requirements || '')"></span>
             </dd>
          </div>

          <div class="sm:col-span-2" *ngIf="!dataService.advertisementProfile.adLink">
            <dt class="text-sm font-bold text-gray-600">Benefits</dt>
            <dd class="mt-1 ml-5 max-w-prose space-y-5 text-sm font-medium text-gray-500">
                <span [innerHtml]="showValueinHTMLList(dataService.advertisementProfile.benefits || '')"></span>
          </div>


          <div class="sm:col-span-2" *ngIf="!dataService.advertisementProfile.adLink">
            <dt class="text-sm font-bold text-gray-600">Jobinformationen</dt>
            <dd class="mt-1 ml-5 max-w-prose space-y-5 text-sm font-medium text-gray-500">
                <span [innerHtml]="showValueinHTMLList(dataService.advertisementProfile.jobInfo || '')"></span>
          </div>
      </dl>
    </div>

    <!-- Team member list 
    <div class="mx-auto mt-8 max-w-5xl px-4 pb-12 sm:px-6 lg:px-8">
      <h2 class="text-sm font-medium text-gray-500">Team members</h2>
      <div class="mt-1 grid grid-cols-1 gap-4 sm:grid-cols-2">
        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-amber-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="min-w-0 flex-1">
            <a href="#" class="focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">Leslie Alexander</p>
              <p class="truncate text-sm text-gray-500">Co-Founder / CEO</p>
            </a>
          </div>
        </div>

        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-amber-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="min-w-0 flex-1">
            <a href="#" class="focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">Michael Foster</p>
              <p class="truncate text-sm text-gray-500">Co-Founder / CTO</p>
            </a>
          </div>
        </div>

        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-amber-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="min-w-0 flex-1">
            <a href="#" class="focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">Dries Vincent</p>
              <p class="truncate text-sm text-gray-500">Manager, Business Relations</p>
            </a>
          </div>
        </div>

        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-amber-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="min-w-0 flex-1">
            <a href="#" class="focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">Lindsay Walton</p>
              <p class="truncate text-sm text-gray-500">Front-end Developer</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    -->
  </article>

  <!-- Success Placement -->
  <div *ngIf="showSuccessPlacement" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  
    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
          <div class="absolute right-0 top-0 hidden pr-4 pt-4 sm:block">
            <button (click)="toggleShowSuccessPlacement()" type="button" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">
              <span class="sr-only">Close</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="sm:flex sm:items-start">
            <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">
 
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-green-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
              </svg>
              
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Erfolgreiche Stellenbesetzung melden</h3>
              <div class="mt-2">
                <p class="text-sm mb-2 text-gray-500">Vielen Dank für Ihre Vermittlung. Bitte bestätigen Sie, dass die folgenden Informationen übereinstimmen oder ändern Sie diese gegebenenfalls.</p>
                    
                    <div class="sm:col-span-3 mb-2">
                      <label for="companyName" class="block text-sm font-medium text-gray-700">Unternehmen</label>
                      <div class="mt-1">
                        <input [(ngModel)]="placementData.companyName" type="text" name="companyName" id="companyName" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm">
                      </div>
                    </div>
                    <div class="sm:col-span-3 mb-2">
                      <label for="jobTitle" class="block text-sm font-medium text-gray-700">Vermittelte Stelle</label>
                      <div class="mt-1">
                        <input [(ngModel)]="placementData.jobTitle" type="text" name="jobTitle" id="jobTitle" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm">
                      </div>
                    </div>
                    <div class="sm:col-span-3 mb-2">
                      <label for="contactPerson" class="block text-sm font-medium text-gray-700">Kontaktperson</label>
                      <div class="mt-1">
                        <input [(ngModel)]="placementData.contactPerson" type="text" name="contactPerson" id="contactPerson" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm">
                      </div>
                    </div> 
                    <div class="sm:col-span-3 mb-2">
                      <label for="placementBonus" class="block text-sm font-medium text-gray-700">Tatsächliche Vermittlungsprämie (in %)</label>
                      <div class="mt-1">
                        <input [(ngModel)]="placementData.placementBonus" type="number" name="placementBonus" id="placementBonus" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm">
                      </div>
                    </div>  
                    <div class="sm:col-span-3 mb-2">
                      <label for="actualSalary" class="block text-sm font-medium text-gray-700">Tatsächliches Bruttojahresgehalt (in €)</label>
                      <div class="mt-1">
                        <input [(ngModel)]="placementData.actualSalary" type="number" name="actualSalary" id="actualSalary" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-amber-500 focus:ring-amber-500 sm:text-sm">
                      </div>
                    </div>  
              </div>
            </div>
          </div>
          <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
            <button (click)="successPlacement()" type="button" class="inline-flex w-full justify-center rounded-md bg-amber-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-amber-500 sm:ml-3 sm:w-auto">Stellenbesetzung melden</button>
            <button (click)="toggleShowSuccessPlacement()" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Abbrechen</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Contact Company Modal  -->
<div *ngIf="showCompanyContact" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  
  <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
          <div class="absolute right-0 top-0 hidden pr-4 pt-4 sm:block">
            <button (click)="toggleCompanyContact()" type="button" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">
              <span class="sr-only">Close</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="sm:flex sm:items-start">
            <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">

              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-green-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
              </svg>
              
              
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Unternehmen kontaktieren</h3>
              <div class="mt-2">
                <p class="text-sm mb-2 text-gray-500">Treten Sie mit dem Unternehmen dieses Inserats in Kontakt. Stellen Sie Fragen zur gesuchten Position oder senden Sie dem Unternehmen die passende Stellenbesetzung. </p>
                    
                <div>
                  <label for="comment" class="block text-sm font-medium leading-6 text-gray-900">Verfassen Sie hier Ihre Nachricht:</label>
                  <div class="mt-2">
                    <textarea [(ngModel)]="newCommunicationMessage" rows="4" name="comment" id="comment" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                  </div>
                </div>

                <div class="mt-3 text-center sm:text-left">
                  <label for="comment" class="block text-sm font-medium leading-6 text-gray-900">PDF hochladen</label>
                  <div class="mt-2 mb-2">
                  <p class="text-sm text-gray-500">Hier können Sie auch einen Lebenslauf, Bewerbungsschreiben, etc. anfügen und versenden.</p>
                  </div>
                  <div *ngFor="let file of selectedFiles" class="relative block mb-1 w-full rounded-lg border-2 border-dashed p-2 border-gray-300 text-left text-sm font-semibold text-gray-900 focus:outline-none">
                    <p>{{ file.name }}</p>
                    <button (click)="removeFile(file)" type="button" class="absolute top-0 right-0 mt-2 mr-2">
                      <svg class="h-6 w-6 text-gray-400 hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                    </button>
                  </div>
                  <!-- File Upload Error Message -->
                  <p *ngIf="errorMessageFileUpload != ''" class="text-red-500 text-sm font-bold mb-2">{{ errorMessageFileUpload }}</p>
                  <!-- File Upload -->
                  <label for="fileInput" class="file-input-container" class="cursor-pointer relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">
                      <div class="text-center">
                          <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                              <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
                          </svg>
                          <h3 class="mt-2 text-sm font-semibold text-gray-900">PDF auswählen</h3>
                          <p class="mt-1 text-sm text-gray-500">Ziehe hier einfach ein Dokument hinein oder wähle mittels Klick ein Dokument aus deinem Explorer.</p>
   
                      </div>
                      <input type="file" id="fileInput" (change)="onFileChange($event)" accept=".pdf, .doc, .docx" class="hidden" multiple>
                  </label>
 
              </div>
  
              </div>
            </div>
          </div>
          <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
            <button [disabled]="newCommunicationMessage.length == 0" [ngClass]="{'opacity-50 cursor-not-allowed': newCommunicationMessage.length == 0}" (click)="createNewCommunication()" type="button" class="inline-flex w-full justify-center rounded-md bg-amber-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-amber-500 sm:ml-3 sm:w-auto">Nachricht senden</button>
            <button (click)="toggleCompanyContact()" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Abbrechen</button>
          </div>
        </div>
      </div>
  </div>