 
.cover-image {
    background-color: #e5e5f7;
    opacity: 0.8;
    background: linear-gradient(135deg, #84848555 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #848485 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #84848555 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #848485 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}