<article class="mb-10">
    <!-- Profile header -->
    <div>
      <div class="h-32 w-full object-cover cover-image rounded-md z-0 lg:h-48">
      </div>
      <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8 z-10">
        <div class="sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
          <div class="mt-6 sm:flex sm:min-w-0 sm:flex-1 sm:items-center sm:justify-end z-10 sm:space-x-6 sm:pb-1">
 
            <div class="justify-stretch mt-6 flex flex-col space-y-3 sm:flex-row z-10 sm:space-y-0 sm:space-x-4">
              <a [href]="'mailto:' + dataService.advertisementProfile.users_permissions_user?.email">
                <button type="button" class="inline-flex z-10 justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">
                  <!-- Heroicon name: mini/envelope -->
                  <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.162V6a2 2 0 00-2-2H3z" />
                    <path d="M19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002 2h14a2 2 0 002-2V8.839z" />
                  </svg>
                  <span>Unternehmen kontaktieren</span>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="mt-6 min-w-0 flex-1">
            <h1 class="truncate text-2xl font-bold text-gray-900">{{ dataService.advertisementProfile.jobTitle }}</h1>
            <p class="text-sm font-medium text-gray-500">bei {{ dataService.advertisementProfile.users_permissions_user?.username }}</p> 
        </div>
      </div>
    </div>

    
    <!-- Tabs  
    <div class="mt-6 sm:mt-2 2xl:mt-5">
      <div class="border-b border-gray-200">
        <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
          <nav class="-mb-px flex space-x-8" aria-label="Tabs">
             <a href="#" class="border-amber-500 text-gray-900 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" aria-current="page">Profile</a>

            <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">Calendar</a>

            <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">Recognition</a>
          </nav>
        </div>
      </div>
    </div>
    -->
    <!-- Description list -->
    <div class="mx-auto mt-6 max-w-5xl px-4 sm:px-6 lg:px-8">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Email</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ dataService.advertisementProfile.users_permissions_user?.email }} </dd>
        </div>

        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Gehalt</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ dataService.advertisementProfile.salary }}</dd>
        </div>

        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Arbeitszeit</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ dataService.advertisementProfile.workingTime }}</dd>
        </div>

        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Arbeitsort</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ dataService.advertisementProfile.location }}</dd>
        </div>


        <div class="sm:col-span-2">
          <dt class="text-sm font-medium text-gray-500">Aufgabengebiet</dt>
          <dd class="mt-1 max-w-prose space-y-5 text-sm text-gray-900">
            <span [innerHtml]="dataService.advertisementProfile.assignment"></span>
           </dd>
        </div>

        <div class="sm:col-span-2">
            <dt class="text-sm font-medium text-gray-500">Anforderungen</dt>
            <dd class="mt-1 max-w-prose space-y-5 text-sm text-gray-900">
                <span [innerHtml]="dataService.advertisementProfile.requirements"></span>
             </dd>
          </div>

          <div class="sm:col-span-2">
            <dt class="text-sm font-medium text-gray-500">Benefits</dt>
            <dd class="mt-1 max-w-prose space-y-5 text-sm text-gray-900">
                <span [innerHtml]="dataService.advertisementProfile.benefits"></span>
             </dd>
          </div>
      </dl>
    </div>

    <!-- Team member list 
    <div class="mx-auto mt-8 max-w-5xl px-4 pb-12 sm:px-6 lg:px-8">
      <h2 class="text-sm font-medium text-gray-500">Team members</h2>
      <div class="mt-1 grid grid-cols-1 gap-4 sm:grid-cols-2">
        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-amber-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="min-w-0 flex-1">
            <a href="#" class="focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">Leslie Alexander</p>
              <p class="truncate text-sm text-gray-500">Co-Founder / CEO</p>
            </a>
          </div>
        </div>

        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-amber-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="min-w-0 flex-1">
            <a href="#" class="focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">Michael Foster</p>
              <p class="truncate text-sm text-gray-500">Co-Founder / CTO</p>
            </a>
          </div>
        </div>

        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-amber-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="min-w-0 flex-1">
            <a href="#" class="focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">Dries Vincent</p>
              <p class="truncate text-sm text-gray-500">Manager, Business Relations</p>
            </a>
          </div>
        </div>

        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-amber-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="min-w-0 flex-1">
            <a href="#" class="focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">Lindsay Walton</p>
              <p class="truncate text-sm text-gray-500">Front-end Developer</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    -->
  </article>