
<!-- Header -->
<div class="relative bg-gray-50">
    <div class="mx-auto max-w-7xl px-4 sm:px-6">
      <div class="flex items-center justify-between border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a routerLink="/advertisements">
            <span class="sr-only">jobquadrat</span>
            <img class="h-16" src="../../assets/images/logo.png" alt="">
          </a>
        </div>
        <nav class="space-x-10 flex-1">
        <!--
          <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">Pricing</a>
          <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">Docs</a>
          <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">Search</a>
          -->
        </nav>
        <div class="items-center justify-end md:flex lg:w-0">
            <a class="group block flex-shrink-0">
                <div class="flex items-center">
                  <div>
                    <span class="inline-block h-10 w-10 overflow-hidden rounded-full bg-gray-100">
                        <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                          <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                        </svg>
                      </span>
                </div>
                  <div class="ml-3">
                    <p class="text-sm font-medium text-gray-700 group-hover:text-gray-900">{{ dataService.currentUser }}</p>
                    <p (click)="logout()" class="text-xs cursor-pointer font-medium text-gray-500 group-hover:text-gray-700">Sign out</p>
                  </div>
                </div>
              </a>
        </div>
      </div>
    </div>

</div>

<div [ngClass]="{'hidden': dataService.isLoading}" class="mx-auto max-w-7xl px-4 mt-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-7xl">
        <div class="flex max-h-full">
             <div class="flex min-w-0 flex-1 flex-col overflow-hidden">
              <div class="relative z-0 flex flex-1 overflow-hidden">     

                <app-advertisement-table [ngClass]="{'hidden': dataService.currentView == 'profile' && (dataService.currentBreakpoint == 'sm' || dataService.currentBreakpoint == 'xs')}"></app-advertisement-table>
                <main [ngClass]="{'hidden': dataService.currentView == 'table' && (dataService.currentBreakpoint == 'sm' || dataService.currentBreakpoint == 'xs')}" class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
                  <!-- Mobile Breadcrumb -->
                  <nav (click)="switchToTable()" class="flex cursor-pointer tems-start px-4 py-3 sm:px-6 lg:px-8 md:hidden" aria-label="Breadcrumb">
                    <a class="inline-flex items-center space-x-3 text-sm font-medium text-gray-900">
                      <!-- Heroicon name: mini/chevron-left -->
                      <svg class="-ml-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                      </svg>
                      <span>Stelleninserate</span>
                    </a>
                  </nav>
          
                  <app-advertisement-profile></app-advertisement-profile>
                </main>
              </div>
            </div>
          </div>
    </div>
</div>

<div *ngIf="dataService.isLoading">
  <app-spinner></app-spinner>
</div>

  