<div class="flex min-h-full">
    <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
          <a href="#"><img class="h-16 cursor-pointer" src="../../assets/images/logo.png" alt="Your Company"></a>
          <h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900">Werde Teil unserer Community</h2>

        </div>

        <div *ngIf="!dataService.registerSuccess">
            <div *ngIf="role == 0">
                <div class="my-4">
                    <h4 class="mt-6 text-base mb-2 font-medium text-gray-500">Du bist auf der Suche nach Talenten?</h4>
                    <button (click)="assignRole(1)" type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-amber-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">Als Unternehmen registrieren</button> 
                </div>
                <div class="my-4">
                    <h4 class="mt-6 text-base mb-2 font-medium text-gray-500">Du möchtest Talente vermitteln</h4>
                    <button (click)="assignRole(3)"  type="submit" class="flex w-full justify-center rounded-md border border-transparent  outline outline-amber-500 outline-offset-2 outline-2 bg-white py-2 px-4 text-sm font-medium text-black shadow-sm focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">Als Personalvermittler registrieren</button>
                </div>
            </div>

            <div class="mt-8" *ngIf="role != 0">
                <a (click)="assignRole(0)" class="cursor-pointer focus:outline-none text-base text-gray-500 flex">
                    <svg  class="-ml-1 mr-2 h-3 w-3" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
                        </svg>
                    <p class="ml-2 mt-1 text-sm font-bold">anders registrieren</p>
                </a>
        
            <div class="mt-6">
                <form action="#" method="POST" class="space-y-6">
                <div *ngIf="role == 1">
                    <label for="name" class="block text-sm font-medium text-gray-700">Firmenname</label>
                    <div class="mt-1">
                        <input [(ngModel)]="name" placeholder="Dein Firmenname" id="name" name="name" type="email" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm">
                    </div>
                </div>
                <div *ngIf="role == 3">
                    <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                    <div class="mt-1">
                        <input [(ngModel)]="name" placeholder="Dein Name" id="name" name="name" type="email" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm">
                    </div>
                </div>
                
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">Email Addresse</label>
                    <div class="mt-1">
                    <input [(ngModel)]="email" placeholder="mail@company.com" id="email" name="email" type="email" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm">
                    </div>
                </div>

                <div class="sm:col-span-2" *ngIf="role == 1">
                    <label for="message" class="block text-sm font-medium text-gray-700">Firmenbeschreibung</label>
                    <div class="mt-1">
                    <textarea [(ngModel)]="description" id="message" name="message" rows="4" class="block w-full rounded-md border-gray-300 py-3 px-4 shadow-sm focus:border-white-500 focus:ring-white-500"></textarea>
                    </div>
                </div>
    
                <div class="space-y-1">
                    <label for="password" class="block text-sm font-medium text-gray-700">Passwort</label>
                    <div class="mt-1">
                    <input [(ngModel)]="password" placeholder="*******" id="password" name="password" type="password" autocomplete="current-password" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm">
                    </div>
                </div>

                <div class="space-y-1">
                    <label for="passwordRepeat" class="block text-sm font-medium text-gray-700">Passwort wiederholen</label>
                    <div class="mt-1">
                    <input [(ngModel)]="passwordRepeat" placeholder="*******" id="passwordRepeat" name="passwordRepeat" type="password" autocomplete="current-password" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm">
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <div class="flex items-start">
                    <div>
                        <div class="flex items-center mb-4">
                            <input type="checkbox" (change)="policyChecked = !policyChecked" [value]="policyChecked" class="w-4 h-4 mr-2 text-amber-600 bg-gray-100 border-gray-300 rounded focus:ring-amber-500 dark:focus:ring-amber-600">
                            <p class="text-base text-gray-500">
                                Hiermit akzeptiere ich die
                                <a routerLink="/terms-and-conditions" class="font-medium text-gray-700 underline">AGB</a>
                                und
                                <a routerLink="/privacy-policy" class="font-medium text-gray-700 underline">Datenschutzerklärung</a>.
                            </p>
                        </div>
                    </div>
                    </div>
                </div>

                <p *ngIf="dataService.authError" class="mt-2 text-sm font-bold text-red-600">
                    Keine gültige Email oder Name/Email ist bereits vergeben.
                </p>
                <p *ngIf="inputWrong" class="mt-2 text-sm font-bold text-red-600">
                    {{ errorMessage }}
                </p>
                <div>
                    <button (click)="register()" type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-amber-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2">Registrieren</button>
                </div>
                </form>
            </div>
            </div>
        </div>
        <div *ngIf="dataService.registerSuccess">
            <div >
                <div>
                  <div class="mx-auto mt-5 flex h-12 w-12 items-center justify-center rounded-full bg-yellow-500">
                    <!-- Heroicon name: outline/check -->
                    <svg class="h-6 w-6 text-yellow-100" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                  </div>
                  <div class="mt-3 text-center sm:mt-5">
                    <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">Account bestätigen</h3>
                    <div class="mt-2">
                      <p class="text-sm text-gray-500">Du erhältst in Kürze ein Bestätigungsmail um deinen Account zu bestätigen. Sobald du auf den Bestätigunslink geklickt hast kannst du dich mit deinem Anmeldedaten einloggen. Prüfe bitte auf deinen Spam-Ordner.</p>
                    </div>
                  </div>
                </div>
 
              </div>
        </div>
      </div>
    </div>
    <div class="relative hidden w-0 flex-1 lg:block">
      <img class="absolute inset-0 h-full w-full object-cover" src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
    </div>
  </div>